body {
    background-color: #1E1E1E;
    height: 100vh;
    margin: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.left-section {
    position: fixed;
    padding: 20px;
    display: inline-block
}

.center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}