body {
    background-color: #1E1E1E;
    height: 100vh;
    margin: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.top-section {
    position: fixed;
    width: 100%;
}

.top-section-inside {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0px 20px;
}

.middle-section {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}