html, body {
    height: 100%;
    margin: 0;
    background-color: #1E1E1E;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    overflow-y: hidden;
}

.background-container {
    min-height: 100vh;
    display: flex;
    overflow: hidden;
}

.image-cloud {
    padding: 20px;
    cursor: pointer;
}

.center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}